
.funcion1
{
    text-align: right;
        margin-top: 2mm;
        margin-right: 6mm;
        width: 1350px;
        height: 35px;
}

.funcion2
{
    text-align: right;
        margin-top: 2mm;
        margin-right: 6mm;
        width: 1350px;
        height: 35px;
}

.funcion3
{
        text-align: left;
        margin-top: -8.5mm;
        margin-left: 35mm;
        width: 220px;
        height: 35px;

}

.funcion4
{
        text-align: left;
        margin-top: -6.4mm;
        margin-left: 167px;
        width: 71px;
        height: 30px;
        background: linear-gradient(
                 white,
                 #e2f0fb
        );
        
        border-right: 1px solid #add8e6;

}

.NoAccedido
{
        margin-top: -18mm;
        margin-left: 655px;
        margin-right: 40px;
        width: 150px;
        height: 11px;
       
        
} 

.cuadro1
{
        margin-top: 2mm;
        margin-left: -77px;
        margin-right: 40px;
        width: 1150px;
        height: 2360px;
        background-color: white;
        border-top: 1px solid #add8e6;
        
        border-bottom: 1px solid #add8e6;
        border-left: 1px solid #add8e6;
        
} 
.PortadaP
{
        margin-top: -6.9mm;
        margin-left: -1px;
        margin-right: 40px;
        width: 76px;
        height: 27px;
        background-color: white;
       
        border-left: 1px solid #add8e6;
        border-right: 1px solid #add8e6;
        
} 

.LeerP
{
        margin-top: -7.5mm;
        margin-left: 650px;
        margin-right: 40px;
        width: 45px;
        height: 27px;
        background-color: white;
       
        border-left: 1px solid #add8e6;
        border-right: 1px solid #add8e6;
} 
.PiePag
{
        margin-top: -1mm;
        margin-left: -77px;
        margin-right: 40px;
        width: 1150px;
        height: 200px;
         
} 

.Buscador
{
        margin-top: 7mm;
        margin-left: 887px;
        margin-right: 40px;
        width: 180px;
        height: 35px;  
          
} 

.Informacion
{
        margin-top: 15mm;
        margin-left: -25px;
        margin-right: 40px;
        width: 590px;
        height: 639px;
        background-color: white;
         
        border-bottom: 2px solid #d3d3d3;
        border-top: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        
} 

.ArticuloBueno
{
        margin-top: -132mm;
        margin-left: -25px;
        margin-right: 40px;
        width: 590px;
        height: 369px;
        background-color: white;
         
        border-bottom: 2px solid #d3d3d3;
        border-top: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        
} 

.RecursoDelDia
{
        margin-top: 27mm;
        margin-left: -2px;
        margin-right: 40px;
        width: 590px;
        height: 329px;
        background-color: white;
         
        border-bottom: 2px solid #d3d3d3;
        border-top: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;

}
.Efemerides
{
        margin-top: -54mm;
        margin-left: 604px;
        margin-right: 40px;
        width: 500px;
        height: 359px;
        background-color: white;
         
        border-bottom: 2px solid #d3d3d3;
        border-top: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;   
}

.Portales
{
        margin-top: -20mm;
        margin-left: -607px;
        margin-right: 40px;
        width: 590px;
        height: 500px;
        background-color: white;
         
        border-bottom: 2px solid #d3d3d3;
        border-top: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;     
}

.OtrosProyectos
{
        margin-top: -90mm;
        margin-left: -2px;
        margin-right: 40px;
        width: 501px;
        height: 359px;
        background-color: white;
         
        border-bottom: 2px solid #d3d3d3;
        border-top: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;     
}

.ImgInfo
{
        margin-top: -50mm;
        margin-left: 419px;
        margin-right: 40px;
        width: 151px;
        height: 152px;
        
         
        border-bottom: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        
} 

.ImgBorde
{
        margin-top: 19mm;
        margin-left: 415px;
        margin-right: 40px;
        width: 160px;
        height: 195px;
        
         
        border-bottom: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        
} 

.ImgArticulo
{
        margin-top: -61mm;
        margin-left: 415px;
        margin-right: 40px;
        width: 160px;
        height: 210px; 
        background-color: black;      
}

.ImgRecursoD
{
        margin-top: 4mm;
        margin-left: 50px;
        margin-right: 40px;
        width: 488px;
        height: 170px; 
        background-color: black;        
}
.InformacionActual
{
        margin-top: -175mm;
        margin-left: 580px;
        margin-right: 40px;
        width: 500px;
        height: 1160px;
        background-color: white;
         
        border-bottom: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        
} 

.Justificacion
{
        margin-top: -61mm;
        margin-left: 10px;
        margin-right: 190px;
        text-align: justify;
        font-size: 4mm;
        
}

.JustificacionActualidad
{
        margin-top: -1mm;
        margin-left: 10px;
        margin-right: 190px;
        text-align: justify;
        font-size: 4mm;
}

.JustificacionActualidad2
{
        margin-top: -1mm;
        margin-left: -5px;
        margin-right: 10px;
        
        font-size: 4mm;
}
.JustificacionCompleta
{
        margin-top: 0mm;
        margin-left: 10px;
        margin-right: 17px;
        text-align: justify;
        font-size: 4mm;
        
}

.JustificacionArticulo
{
        margin-top: 1mm;
        margin-left: 10px;
        margin-right: 190px;
        text-align: justify;
        font-size: 4mm; 
}

.JustificacionEfemerides
{
        margin-top: 1mm;
        margin-left: 17px;
        margin-right: 10px;
        
        font-size: 4mm;
        
}

.JustificacionPie
{
        margin-top: 3mm;
        margin-left: 15px;
        margin-right: 10px;
        font-size: 4mm;  
}

.JustificacionOtrosP
{
        margin-top: 3mm;
        margin-left: 15px;
        margin-right: 10px;
        font-size: 4mm;     
}

.JustificacionPortales
{
        margin-top: 2mm;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 3.3mm;  
}
.JustificacionImgPort
{
        margin-top: -80mm;
        margin-left: 541px;
        margin-right: 10px;   
}

.JustificacionOtrosProyectos
{
        margin-top: 0mm;
        margin-left: 61px;
        margin-right: 10px;   
}

.JustificacionOtrosProyectos2
{
        margin-top: -70mm;
        margin-left: 275px;
        margin-right: 20px;   
}

.Bienvenida
{
        margin-top: 8mm;
        margin-left: 7px;
        margin-right: 40px;
        width: 1107px;
        height: 161px;
        background-color: white;
         
        border-bottom: 6px solid #d3d3d3;
        border-top: 0px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;

        position: absolute;
        display: inline-block;
        
} 

.textBienvenida
{
        position: absolute;
        font-size: 7mm;
    top: 40px;
    left: 25px;
}

.textLema
{
        position: absolute;
        font-size: 4mm;
    top: 40px;
    left: 25px;
}

.textCantidad
{
        position: absolute;
        font-size: 4mm;
    top: 20px;
    left: 850px;
    width: 210px;
}

.MiTabla
{
        top: 55px;
        width:500px;
        left: 600px;
        font:normal 14px;
        text-align:center;
        border-collapse:collapse;
        position: absolute;
        
}

.verCodigo
{
        margin-top: -7.4mm;
        margin-left: 694px;
        margin-right: 80px;
        width: 88px;
        height: 27px;
        background-color: white;

        background: linear-gradient(
                white,
                 #e2f0fb);
        border-left: 1px solid #add8e6;
        border-right: 1px solid #add8e6;
        
} 

.verHistorial
{
        margin-top: -7.1mm;
        margin-left: 781px;
        margin-right: 80px;
        width: 96px;
        height: 27px;
        background-color: white;

        background: linear-gradient(
                white,
                 #e2f0fb);
        border-left: 1px solid #add8e6;
        border-right: 1px solid #add8e6;
        
} 

.textBoton {
    top: 55px;
    width:550px;
    left: 610px;

    background: transparent;
    border: none;
    padding: 0;
    cursor: puntero;
}

.punteado{
   border-style: dotted;
   border-width: 1px;

   border-color: 660033;
   background-color: cc3366;
   font-family: verdana, arial;
   font-size: 8.5pt;
}

body{
	background: #F5F5F5;
    height: auto;
}


footer{
	background: #16a085;
	color: #fff;
}
